@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
} 

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.button:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
  cursor: default;
} 

.product-card-button:hover {
  background-color: #68A2CA;
}

.product-card-button:focus {
  background-color: #82B3D3;
}

.product-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.product-card-button-current:hover {
  background-color: #6C9E42;
}

.product-card-button-current:focus {
  background-color: #6C9E42;
}

.product-card-button-current:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.blue-button:hover {
  background-color: #68A2CA;
}

.blue-button:focus {
  background-color: #82B3D3;
}

.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 15px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.blue-button {
  background-color: #82B3D3;
}

.rgba {
  background: rgba(131, 179, 211, 0.12);
}

.rgba2 {
  background: rgba(131, 179, 211, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.page-header-logo {
  margin-bottom: -10px;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  width: 420px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 290px;
  margin-left: auto;
}
  
.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

/* .navigation-link:focus .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
} */

.navigation-link:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-item-basket {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 24px;
  top: 15px;
  bottom: 31px;
  background: #7DB54F;
  border-radius: 10px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
}

.navigation-user .navigation-link {
  min-width: 19px;
  min-height: 24px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  text-align: center;
}

.main-logo {
  display: block;
  margin: 0 auto;
  padding: 51px;
}

.main-background {
  background-image: url("../images/main/main-mask.svg"), url("../images/main/index-background.jpg");
  height: 485px;
  background-position: bottom;
  background-color: #b9b7b6;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-title {
  margin-top: 63px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-description {
  margin-top: 31px;
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* .advantages-list {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
} */

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word; 
}

.advantages-item-grid-box-sedona {
  grid-column: 1 / -1;
}

.advantages-item-grid-box-bridge {
  grid-column: 1 / -1;
}

.advantages-item-img {
  width: 800px;
  height: 384px;
  background-image: url("../images/main/real-town.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advantages-item {
  position: relative;
  width: 400px;
  text-align: center;
  color: #000000;
}

.advantages-title {
  margin-top: 88px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px; 
}

.advantages-description-number {
  margin: 30px 0px;
  font-weight: 400;
  color: #333333;
}

.advantages-description {
  margin-bottom: 92px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: #333333;
}


.advantages-item-white {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  color: #FFFFFF;
}

.advantages-list-white-block {
  margin: 0 auto;
}  

.advantages-title-white{
  color: #FFFFFF;
}

.advantages-description-white {
  color: #FFFFFF;
}

.advantages-item-bgcolor-blue {
  background-color: #82B3D3;
}

.advantages-title-with-picture {
  margin-top: 182px;
  margin-bottom: 30px;
}

.advantages-description-with-picture {
  margin-bottom: 81px;
}

.advantages-picture-house {
  background-image: url("../images/main/vector-house.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 75px;
  height: 72px;
  left: 162px;
  top: 80px;
  bottom: 232px;
  margin: 0;
}

.advantages-picture-food {
  background-image: url("../images/main/food.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 75px;
  height: 71px;
  left: 163px;
  top: 81px;
  margin: 0;
}

.advantages-picture-souvenirs {
  background-image: url("../images/main/souvenirs.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 65px;
  height: 77px;
  left: 168px;
  top: 78px; 
  margin: 0;
} 

.advantages-title-without-picture {
  margin-top: 103px;
}

.advantages-description-without-picture {
  margin-bottom: 102px;
}

.appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-title {
  margin-top: 91px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.appointment-description {
  margin-top: 2px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.appointment-button {
  margin-top: 34px;
  margin-bottom: 93px;
  width: 574px;
  padding: 12px;
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  background-image: url("../images/footer/background-subscribe.jpg");
  background-color: #b9b7b6;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 30px;
}

.footer-social {
  width: 180px;
  margin-right: auto;
}

.footer-social-item {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-contacts-address {
  width: 350px;
  margin: 0 auto;
}

.footer-social-item-link {
  display: block;
  height: 40px;
  width: 47px;
}

.footer-htmlacademy-link {
  width: 115px;
  margin-left: auto;
}

.page-footer-title {
  padding-top: 94px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-footer-description {
  margin-top: 29px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  margin-top: 46px;
  padding-bottom: 94px;
  justify-content: center;
  
}

/* .newsletter-button {
  background: #82B3D3;
} */

.footer-contacts-address-phone a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.filter {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  background-image: url("../images/filter-content/filter.jpg");
  background-color: #b9b7b6;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.catalog-filter {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.catalog-product {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1060px;
}

.catalog-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 56px;
}

.offers-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-right: 190px;
  margin: 0;
}

/* .select-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 290px;
  margin-right: auto;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;

} */

.select-control {
  width: 100%;
  margin: 0;
  padding: 14px 24px;
  padding-right: 130px;
  font: inherit;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/filter-content/vector-catalog-galo4ka.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

/* .svg-galochka {
  position: absolute;
  top: 20px;
  right: 20px;
} */

.catalog-button {
  display: flex;
  width: 180px;
   margin-left: auto; 
}

.card-grid-toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 16px 17px;
}

.card-grid-toggle-icon-table {
  display: block;
  background-image: url("../images/filter-content/icon-table.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
}

.card-grid-toggle-icon-slideshow {
  display: block;
  background-image: url("../images/filter-content/icon-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
}

.card-grid-toggle-icon-list {
  display: block;
  background-image: url("../images/filter-content/icon-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.card-grid-toggle:hover {
  border-color: #68A2CA; 
}

/*.card-grid-toggle:focus {
  border-color: #68A2CA; 
} */

.card-grid-toggle:active {
  border-color: #000000; 
}

/* .product-list-hotel {
  display: flex;
  margin: 0 auto;
  width: 1040px;
  align-content: center;
  align-items: center;
} */

/* .product-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 73px;
  margin-bottom: 66px;
} */

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  column-gap: 18px;
}

/* .product-card {
  padding: 20px;
} */

.pagination-line {
  display: flex;
  margin: 0 auto;
  width: 1040px;
  padding: 0;
}

/* .product-card-button-flex-box{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.overall-size {
  width: 140px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 20px;
}

.overall-size:nth-child(2n) {
  margin-right: 0;
} */

/* .product-card-more {
  margin-right: 20px;
} */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 408px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  text-decoration: none;
  margin-right: 8px;
}

.number-offers {
  display: flex;
  margin: 0;
  padding: 0;
  width: 386px;
  margin-left: auto;
}

.description-number-offers {
  margin: 0;
  margin-top: 20px;
  width: 230px;
  margin-left: auto;
}

.number-offers-found {
  width: 163px;
  padding-left: 20px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  text-transform: capitalize;
  margin-right: 10px;
  text-decoration: none;
  color: #FFFFFF;;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
}

.breadcrumbs-item:not(:last-child)::after {
  display: block;
  background-image: url("../images/filter-content/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  width: 6px;
  height: 9px;
  margin: 0;
  content: " ";
}

.breadcrumbs-link-home {
  display: block;
  background-image: url("../images/filter-content/union-home.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 70px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 25%;
  background-color: #FFFFFF;
}

.control:hover .control-mark,
.control:active .control-mark {
  background: rgba(255, 255, 255, 0.6);
}
.control:focus .control-mark {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.control-input:disabled + .control-mark {
  
}

.control-input-housing-type:focus .control-mark {
  border: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:checked + .control-mark::before{
  display: block;
  position: relative;
  background-image: url("../images/filter-content/vector-galo4ka.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  width: 13px;
  padding-left: 8px;
  padding-top: 11px;
  content: " ";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;;
  border-radius: 50%;
  content: "";
}

.catalog-filter-range-group {
  margin-left: 170px;
  margin-bottom: 70px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin: 0;
  margin-top: 32px;
  background-color: #ffffff48;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #FFFFFF;
  border-radius: 25%;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
} 

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: -20px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  justify-content: space-between;
  width: 105px;
  padding-right: 14px;
  margin: 0;
  border: 2px solid #FFFFFF;
  border-radius: 10px 0px 0px 10px;
  padding-top: 14px;
  padding-left: 19px;
  padding-bottom: 14px;
}

.filter-label-second{
  border-radius: 0px 10px 10px 0px;
}

.catalog-filter-label:hover {
  opacity: 0.6;
  border: 2px solid #FFFFFF;
}
.catalog-filter-label:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.catalog-filter-label:active {
  background: #756257;
}

.filter-description{
  margin: 0;
  color: #FFFFFF;
  opacity: 0.3;
}

.range-input {
  width: 40px;
  font: inherit;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-left: 70px;
}

.catalog-filter-blue-button {
  padding: 14px 15px;
  margin-bottom: 3px;
}

.catalog-filter-reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 15px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
}

.catalog-filter-reset-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.catalog-filter-reset-button:hover,
.catalog-filter-reset-button:active {
  opacity: 0.6;
}

.catalog-filter-reset-button:disabled {
  color: #ffffff;
  background-color: #E5E5E5;
  cursor: default;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-housing-type {
  margin: 0;
  padding-right: 70px;
}
  
.catalog-filter-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog-filter-item {
  margin-bottom: 15px;
  font-weight: 400;
  list-style-type: none;
}

.product-card-link{
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
  margin: 16px 20px 0;
}

.product-card-title {
  margin: 0;
  margin-top: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
} 

/* .hotel-card-price {
  color: #333333;
  font-weight: 400;
} */

/* .product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
} */

/* .rating-number {
  font-weight: 400;
  color: #333333;
  background: #F2F2F2;
} */

.product-card-grid-box {
  display: grid;
  grid-template-columns: 140px 140px;
  margin: 16px 20px 20px;
  row-gap: 16px;
  column-gap: 20px;
  word-wrap: break-word;
}

.hotel-card-hotel {
  margin: 0;
  font-weight: 400;
  color: #333333;
  grid-column: 1 / 2;
}

.hotel-card-price {
  margin: 0;
  font-weight: 400;
  color: #333333;
  grid-column: 2 / 3;
}

.product-card-more {
  grid-column: 1 / 2;
}

.product-card-button {
  background-color: #82B3D3;
  grid-column: 2 / 3;
  padding: 9px 8px;
}

.product-card-button-current {
  background-color: #7DB54F;
}

.rating-star {
  position: relative;
  margin: 0;
  align-self: center;
  grid-column: 1 / 2;
} 

/* .img-star {
  position: absolute;
  top: 10px;
  width: 18px;
  height: 17px;
} 

.img-star:nth-child(1) {
  right: 122px;
}

.img-star:nth-child(2) {
  right: 98px;
}

.img-star:nth-child(3) {
  right: 74px;
}

.img-star:nth-child(4) {
  left: 72px;
} */

.rating-number {
  margin: 0;
  font-weight: 400;
  padding: 9px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #333333;
  background: #F2F2F2;
  grid-column: 2 / 3;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
}

.number-offers {
  color: #333333;
}

.catalog-newsletter {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  color: #000000;
  text-align: center;
}


/* .breadcrumbs-arrow {
  background-image: url("../images/filter-content/vector-catalog-galo4ka.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
} */

.breadcrumbs-item {
  margin-right: 10px;
}

.page-footer-description-catalog {
  color: #333333;
}

.footer-social-list {
  display: flex;
  position: relative;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  display: block;
  width: 47px;
  height: 40px;

}

.footer-social-vk {
  position: absolute;
  background-repeat: no-repeat;
  top: 13px;
  left: 11px;
}

.footer-social-tg {
  position: absolute;
  background-repeat: no-repeat;
  top: 12px;
  left: 62px;
}

.footer-social-yt {
  position: absolute;
  background-repeat: no-repeat;
  top: 12px;
  left: 107px;
} 
.footer-social-icon {
  fill: #82B3D3;
}

.footer-social-item:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-item:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-item:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-address:hover .footer-contacts-address-phone {
  color: #756157;
}

.footer-contacts-address:focus .footer-contacts-address-phone {
  color: #756157;
}

.footer-contacts-address:active .footer-contacts-address-phone {
  color: rgba(117, 97, 87, 0.3);
}

.footer-htmlacademy-link:hover .htmlacademy-link {
  fill: #756157;
}

.footer-htmlacademy-link:focus .htmlacademy-link {
  fill: #756157;
}

.footer-htmlacademy-link:active .htmlacademy-link {
  fill: rgba(117, 97, 87, 0.3);
}

.star {
  display: block;
  background-image: url("../images/hotel/vector-star.svg");
  width: 24px;
  height: 17px;
}

.star-4 {
  width: 96px;
}

.star-3 {
  width: 72px;
}

.star-2 {
  width: 48px;
}

.form-button {
  border-radius: 0px 10px 10px 0px;
}

.field {
  margin: 0;
  padding: 20px 22px;
  width: 600px;
  font: inherit;
  font-weight: 400;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.modal-auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 62px;
  padding-bottom: 63px;
  width: 751px;
  border-radius: 30px;
  
}

.modal-close-button {
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%; 
  border: none;
  cursor: pointer;
} 

.modal-title {
  text-transform: uppercase;
}

.modal-form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 62px;
  padding-bottom: 63px;
  width: 751px;
  border-radius: 30px;
}