@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
}

.rgba {
  background: rgba(131, 179, 211, 0.12);
}

.rgba2 {
  background: rgba(131, 179, 211, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  width: 420px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 290px;
  margin-left: auto;
  padding-left: 0;
}
  
.navigation-link {
  display: block;
  padding: 20px 17px;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 19px;
  min-height: 24px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-logo {
  display: block;
  margin: 0 auto;
  padding: 51px;
}

.main-background {
  background-image: url("/images/main/main-mask.svg"), url("/images/main/index-background.jpg");
  height: 485px;
  background-position: bottom;
  background-color: #b9b7b6;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-title {
  margin-top: 63px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-description {
  margin-top: 31px;
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list-white-block {
  display: flex;
  width: 1200px;
  height: 384px; 
} 

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-img {
  width: 800px;
  height: 384px;
  background-image: url("/images/main/real-town.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advantages-item {
  width: 400px;
  height: 384px;
  text-align: center;
  color: #000000;
}

.advantages-title {
  margin-top: 92px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px; 
}

.advantages-description-number {
  margin-top: 30px;
  font-weight: 400;
  color: #333333;
}

.advantages-description {
  margin-top: 30px;
  font-weight: 400;
  color: #333333;
}
 
.advantages-item-white {
  color: #FFFFFF;
}

.advantages-title-white{
  color: #FFFFFF;
}

.advantages-description-white {
  color: #FFFFFF;
}

.advantages-item-bgcolor-blue {
  background-color: #82B3D3;
}

.advantages-title-with-picture {
  margin-top: 182px;
}

.advantages-title-without-picture {
  margin-top: 103px;
}

.appointment {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
}

.appointment-title {
  margin-top: 91px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.appointment-description {
  margin-top: 29px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.catalog-button {
  display: block;
  margin-top: 56px;
  margin-bottom: 138px;

}

.newsletter {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  background-image: url("/images/footer/background-subscribe.jpg");
  background-color: #b9b7b6;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-social {
  width: 180px;
  margin-right: auto;
}

.footer-contacts-address {
  width: 350px;
  margin: 0 auto;
}

.footer-htmlacademy-link {
  width: 115px;
  margin-left: auto;
}

.page-footer-title {
  margin-top: 49px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-footer-description {
  margin-top: 29px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  margin-top: 46px;
  margin-bottom: 94px;
  justify-content: center;
}

.newsletter-button {
  background: #82B3D3;
}

.footer-contacts-address-phone a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.filter {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  background-image: url("/images/filter-content/filter.jpg");
  background-color: #b9b7b6;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.catalog-search {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.offers-found {
  width: 400px;
  margin-right: auto;
}

.select-control {
  width: 290px;
  margin-left: auto;
}

.bcatalog-button {
  width: 160px;
  margin-left: auto;
}

.product-list-hotel {
  display: flex;
  margin: 0 auto;
  width: 1040px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.product-card {
  
}

.pagination-line {
  display: flex;
  margin: 0 auto;
  width: 1040px;
}

.pagination{
  width: 400px;
  margin-right: auto;
}

.number-offers {
  width: 390px;
  margin-left: auto;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  text-transform: capitalize;
  text-decoration: none;
  color: #FFFFFF;;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-weight: 400;
}

.button-apply {
  background: #82B3D3;
}

.offers-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-card-link{
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel {
  color: #333333;
  font-weight: 400;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
}

.rating-number {
  font-weight: 400;
  color: #333333;
  background: #F2F2F2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
}

.number-offers {
  color: #333333;
}

.catalog-newsletter {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  color: #000000;
  text-align: center;
}

.page-footer-description-catalog {
  color: #333333;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  display: block;
  width: 47px;
  height: 40px;

}

.footer-social-vk {
  background-image: url(/images/footer/social-vkontakte.svg); 
  background-repeat: no-repeat;
}

.footer-social-tg {
  background-image: url(/images/footer/social-telegram.svg);
  background-repeat: no-repeat;
}

.footer-social-yt {
  background-image: url(/images/footer/social-youtube.svg);
  background-repeat: no-repeat;
}

.navigation-item-basket {
  background-image: url(/images/header/favorite.svg);
  background-repeat: no-repeat;
}

.navigation-item-search {
  background-image: url(/images/header/search.svg);
  background-repeat: no-repeat;
}