@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }




  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
  }

  .button {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #756157;
    border-radius: 4px;
  }

  .page-header {
    color:#000000;
    background-color: #ffffff;
  }
  
  .navigation-link {
    color:#000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    text-decoration: none;
  }

  .main-bg-img {
    background-image: url("/images/main/index-background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }

  .main-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  .main-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  .advantages-item-white {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
  }

  .advantages-title-white {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px; 
  }

  .advantages-description-white-number {
    font-weight: 400;
  }

  .advantages-description-white {
    font-weight: 400;
  }

  .advantages-item
   {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
  }

  .advantages-title
   {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px; 
  }

  .advantages-description-number {
    font-weight: 400;
    color: #333333;
  }

  .advantages-description {
    font-weight: 400;
    color: #333333;
  }

  .advantages-item-rgba {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
   background: rgba(131, 179, 211, 0.12);
 }

 .advantages-item-rgba2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}
 
.appointment {
  text-align: center;
  text-transform: uppercase;
}


.appointment-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.appointment-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.catalog-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
background-image: url(/images/footer/background-subscribe.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
color: #FFFFFF;
text-align: center;
}

.page-footer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-footer-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.footer-social a {
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.filter {
background-image: url("/images/filter-content/filter.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
color: #FFFFFF;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  text-transform: capitalize;
  text-decoration: none;
  color: #FFFFFF;;
}

.breadcrumbs-item {
font-weight: 400;
font-size: 16px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-weight: 400;
}

.button-apply {
  background: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.offers-found {

  font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
}

.product-card-link{
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel {
  color: #333333;
  font-weight: 400;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
}

.rating-number {
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #333333;
background: #F2F2F2;
border-radius: 4px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
}

.number-offers {
  color: #333333;
}

.catalog-newsletter {
  color: #000000;
  text-align: center;
}

.page-footer-description-catalog {
  color: #333333;
}


